[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
requests = "*"
geopy = "*"
django-crontab = "*"
address = "*"
azure-cognitiveservices-vision-customvision = "*"
beautifulsoup4 = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
